Adafruit_Blinka==8.45.0
adafruit_circuitpython_neopixel==6.3.11
ament_copyright==0.17.0
ament_flake8==0.17.0
ament_pep257==0.17.0
cv_bridge==4.0.0
dt_apriltags==3.1.7
example_interfaces==0.12.0
geometry_msgs==5.3.5
numpy==1.26.4
opencv_python_headless==4.9.0.80
pyserial==3.5
pytest==8.2.2
rclpy==7.1.1
sensor_msgs==5.3.5
setuptools==70.1.0
std_msgs==5.3.5
